.banner__img{
   background-image: url('../../img/banner.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: calc(100vh - 117px)
}